include LICENSE
include README.md
include pypolsys/801/*.f90
include pypolsys/801/*.f
include pypolsys/801/*.DAT
include pypolsys/src/wrapper.f90
include pypolsys/src/polsys.pyf
include pypolsys/examples/data/toy_model.npz
include pyproject.toml



